# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor
.vscode/
.idea/
*.swp
*.swo

# Raw / source data (not for version control)
data/raw/

# Node
node_modules/
npm-debug.log*

# Python
__pycache__/
*.py[cod]
*.egg-info/

# uv
.venv/
.uv/

# Environment
.env
.env.local

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
